{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <h1>Producto index</h1>

    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Idproducto</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.idproducto }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <a href="{{ path('producto_show', {'idproducto': producto.idproducto}) }}">Detalles</a>
                    <a href="{{ path('editarProducto', {'idproducto': producto.idproducto}) }}">Editar</a>
                </td>
            
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay productos almacenados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nuevoProducto') }}">Crear nuevo producto</a>
{% endblock %}
