{% extends "base.html.twig" %}

{% block title %}Tienda{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset("css/tienda.css") }}">

<div id="contenedor">
<div id="imprimir">
    <div class="row">
        {% for producto in paginacion %}<!--El corchete y el porcentaje es la manera de poner un comando de twig-->
      
        <div class="col-sm-4">
          <div class="card bg-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin:25px;">
              <img class="card-img-top" src="{{asset('imagenes/' ~ producto.imagen)}}" alt="Card image" style="width:100%">
                <h4 style="margin-left:10px;">{{ producto.nombre }}</h4>
                <p class="card-text" style="margin-left:10px;">{{ producto.descripcion }}</p>
                <p class="card-text" style="margin-left:10px;float:left;">{{ producto.precio }} €</p>
                <form action="{{ path('aniadir') }}" method='POST'>
                  <input name="unidades" type="number"  value="1" min="1" >
                  <input type="submit" value="+" class="btn btn-outline-secondary">
                  <input name="cod" type="hidden"  value="{{ producto.idproducto }}">
              </form>
          </div>
          </div>
        {% endfor %}
      </div>
      {# display navigation #}
    <div class="navigation">
      {{ knp_pagination_render(paginacion) }}
    </div>
    </div>

    <div id="filtros">
        <form method="get" action="">
            <div class="form-check">
                <span>Filtrar por uso médico:</span>
                {% for uso in usoMedico %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" class="form-control" value="{{ uso }}" name="usoMedico[]" id="{{ uso }}">
                    <label class="form-check-label" for="{{ uso }}">{{ uso }}</label>
                  </div>
                  
                {% endfor %}
              </div>
              <input type="submit" class="btn btn-outline-secondary"  value="Filtrar" id="boton">
        </form>
    </div>
</div>
{% endblock %}