{% extends "base.html.twig" %}

{% block body %}
<link rel="stylesheet" href="{{ asset("css/listados.css") }}">

<div class="count">
    <span>Total plantas:</span>
    {{ paginacion.getTotalItemCount }}
</div>
<table class="table table-striped">
        <tr class="table-dark">
            <th>ID</th>
            <th>Nombre de la planta:</th>
            <th>Descripción:</th>
            <th>Localización:</th>
            <th>Imágen:</th>
            <th>Color:</th>
            <th>Acciones:</th>
        </tr>
    
    {% for planta in paginacion %}
    <tr>
        <td style="vertical-align:middle;"> {{planta.idplanta}} </td>
        <td style="vertical-align:middle;"> {{planta.Nombre}} </td>
        <td style="vertical-align:middle;"> {{planta.Descripcion}} </td>
        <td style="vertical-align:middle;"> {{planta.Localizacion}}</td>
        <td> 
            <a class="agrandar" href="">
                <img src="{{asset('imagenes/' ~ planta.imagen)}}" alt="imagen" style="width: 10vh; height: 10vh;">
                <span>
                    <img src="{{asset('imagenes/' ~ planta.imagen)}}" /><br />
                </span>
            </a>
        </td>
        <td style="vertical-align:middle;">  {{planta.ColorflorIdcolorflor}}</td>
        <td style="vertical-align:middle;">
            <button type="button" class="btn btn-info"><a href="{{path('modifica_planta',{'id':planta.idplanta})}}" style="color:white;">Modificar</a></button>
            <button type="button" class="btn btn-info"><a href="{{path('borra_planta',{'id':planta.idplanta})}}" style="color:white;">Borrar</a></button>
        </td>
    </tr>
       
    {% endfor %}
    
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(paginacion) }}
</div>

{% endblock %}