{% extends 'base.html.twig' %}

{% block title %}Parte útil{% endblock %}

{% block body %}
    <h1>Parte útil</h1>

    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Idparteutil</th>
                <th>Parte</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for parteutil in parteutils %}
            <tr>
                <td>{{ parteutil.idparteutil }}</td>
                <td>{{ parteutil.parte }}</td>
                <td>
                    <a href="{{ path('parteutil_show', {'idparteutil': parteutil.idparteutil}) }}">Ver detalle</a>
                    <a href="{{ path('editarParteUtil', {'idparteutil': parteutil.idparteutil}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay partes útiles almacenadas.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nuevaParteUtil') }}">Crear nueva</a>
{% endblock %}
