{% extends 'base.html.twig' %}

{% block title %}Nuevo uso médico{% endblock %}

{% block body %}
    <h1>Crear nuevo uso médico</h1>

    {{ form_start(form) }}
    
        {{ form_row(form.uso) }}
        <button class="btn">{{ button_label|default('save') }}</button>
    
    {{ form_end(form) }}

    <a href="{{ path('usomedico_index') }}">Volver a listado uso médico</a>
{% endblock %}
