{% extends 'base.html.twig' %}

{% block title %}Usomedico{% endblock %}

{% block body %}
    <h1>Usomedico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idusomedico</th>
                <td>{{ usomedico.idusomedico }}</td>
            </tr>
            <tr>
                <th>Uso</th>
                <td>{{ usomedico.uso }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usomedico_index') }}">Volver a listado de usos médicos.</a>

    <a href="{{ path('editarUsoMedico', {'idusomedico': usomedico.idusomedico}) }}">Editar</a>

    {{ include('usomedico/borrarUsoMedico.html.twig') }}
{% endblock %}
