<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
          <!-- Favicons -->
      <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <script src="https://kit.fontawesome.com/83583fb1c4.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ asset("lib/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ asset("lib/animate/animate.min.css") }}" rel="stylesheet">
  <link href="{{ asset("lib/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
  <link href="{{ asset("lib/ionicons/css/ionicons.min.css") }}" rel="stylesheet">
  <link href="{{ asset("lib/magnific-popup/magnific-popup.css") }}" rel="stylesheet">

  <!-- JavaScript Libraries -->
  <script src="{{ asset("lib/jquery/jquery.min.js") }}"></script>
  <script src="{{ asset("lib/jquery/jquery-migrate.min.js") }}"></script>
  <script src="{{ asset("lib/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
  <script src="{{ asset("lib/easing/easing.min.js") }}"></script>
  <script src="{{ asset("lib/wow/wow.min.js") }}"></script>
  <script src="{{ asset("lib/superfish/hoverIntent.js") }}"></script>
  <script src="{{ asset("lib/superfish/superfish.min.js") }}"></script>
  <script src="{{ asset("lib/magnific-popup/magnific-popup.min.js") }}"></script>

  <script src="{{ asset("js/main.js") }}"></script>

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{{ asset("css/style.css") }}">
 
 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!--CABECERA-->
        {% embed "shared/cabecera.html.twig" %}

        {% endembed %}

        <!--MENÚ-->
        

        <!--CUERPO-->
       <div id="cuerpo">
        {% block body %}{% endblock %}
       </div>
        <!--PIE-->
        
            {% embed "shared/pie.html.twig" %}
        
        

        {% endembed %}
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
