<!--CABECERA-->
<header id="header" >
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#intro" class="scrollto">Herbolaria medicinal SL</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="{{ asset("index.php") }}">Inicio</a></li>
        <li><a href="{{path("tienda")}}">Tienda</a></li>
        <li class="menu-has-children"><a href="{{path("listado_paginado")}}">Mantenimiento planta</a>
          <ul>
            <li><a href="{{path("colorflor_index")}}">Mantenimiento color</a></li>
            <li><a href="{{path("parteutil_index")}}">Mantenimiento parte útil</a></li>
            <li><a href="{{path("usomedico_index")}}">Mantenimiento uso médico</a></li>
            <li><a href="{{path("producto_index")}}">Mantenimiento producto</a></li>
          </ul>
        </li>
        <li><a href="{{path("carrito")}}"><i class="fas fa-shopping-cart" style="font-size: large;"></i></a></li>
        <li> {% if not app.user %} {#Si el usuario no esta registrado#}
          <div class="text-right">
              <a href="{{ path('app_login') }}"><i class="fa fa-user"></i> Identificate</a>
          </div><!-- end login -->
      {% endif %}

      {% if app.user %}
          <div class="text-right">
              <a data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample"><a href="{{ path('app_logout')}}"> <i class="fa fa-user-times"></i></a> Bienvenido: {{ app.user.username }}</a>
          </div><!-- end login -->

      {% endif %}</li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>
    
 

    

